<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>交易异常</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base th:href="@{/}">
    <style>
        body{
            padding: 0px 0px;
            margin: 0px 0px;
        }
        .result{
            color: red;
            margin-top: 1.5rem;
        }

        .header-panel{
            padding: 12px 0;
            background-color: #2894FF;
            color: white;
        }
    </style>
    <script src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
<div align="center" class="header-panel">
    <span>交易结果</span>
</div>
<div class="result">
    <div align="center">交易异常,请联系客服处理</div>
    <div align="center">
    </div>
</div>
<script>

</script>
</body>
</html>