<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>支付结果页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base th:href="@{/}">
    <script src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
<div style="width: 100%;font-size: 20px" id="paySuccess">
    <div align="center">支付失败：<span style="color: red" th:text="msg"></span></div>
    <div align="center">
    </div>
</div>
<script>

</script>
</body>
</html>