<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>支付结果页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base th:href="@{/}">
    <script src="js/jquery-1.9.1.min.js"></script>
</head>
<body>
<div style="width: 100%;" id="payLoad">
    <div align="center">支付中···</div>
    <div align="center"><img src="img/loading.gif" width="200px" height="200px"></div>
</div>

<div style="width: 100%;" id="payResult">
    <div align="center">支付结果,订单号:<span th:text=""></span></div>
    <div align="center">
        <a th:href="${orderNo}">订单详情</a>
    </div>
</div>
<script>

</script>
</body>
</html>