<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易结果</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <base th:href="@{/}">
    <link rel="stylesheet" href="css/ydui.css?rev=@@hash"/>
    <link rel="stylesheet" href="css/demo.css"/>
    <link rel="stylesheet" href="css/commondemo.css"/>
    <style>
        .payding {
            font-size: .33rem;
            padding-left: .75rem;
            position: relative;
            top: 50px;
            color: grey;
            text-align: center;
        }
    </style>
</head>
<body>
<section class="g-flexview">
    <header class="m-navbar">
        <a class="navbar-item"></a>
        <div class="navbar-center"><span class="navbar-title">交易结果</span></div>
    </header>
    <div class="header-height"></div>
    <div style="width: 100%;" id="payding" align="center">
        <div align="center" class="payding">交易结果确认中<span style="letter-spacing:8px" id="point">...</span></div>
        <div align="center"><img src="img/loading.gif" width="200px" height="200px"></div>
    </div>
    <section class="g-scrollview">
        <div id="success" style="display: none">
            <!-- 成功 -->
            <div class="result2-page-success">
                <i class="icon-success-outline"></i>
            </div>
            <div class="result2-page">
                <span>交易成功</span>
            </div>
        </div>

        <div id="fail" style="display: none">
            <!-- 失败 -->
            <div class="result2-page-fail">
                <i class="icon-error-outline"></i>
            </div>
            <div class="result2-page">
                <span>交易失败</span>
            </div>
        </div>

        <div id="outTime" style="display: none">
            <!-- 失败 -->
            <div class="result2-page-fail">
                <i class="icon-error-outline"></i>
            </div>
            <div class="result2-page">
                <span>交易结果查询超时</span>
            </div>
        </div>

        <div style="height: 20px"></div>
        <div id="commonDiv" style="display: none">
            <div class="page-info page-info3">如对订单有疑问，请联系客服核实</div>
            <div style="clear: both;"></div>
            <div class="register-btn">
                <a th:href="${returnUrl}" class="btn-block btn-mybtn4">查看订单详情</a>
            </div>
            <div class="register-btn">
                <a href="http://lirf-shop.51vip.biz/store-web/index/mainPage" class="btn-block btn-mybtn-result">返回商城</a>
            </div>
        </div>
    </section>
</section>
</body>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/ydui.js"></script>
<script src="js/ydui.flexible.js"></script>
<!--<div style="width: 100%;display: none" id="payResult">
    <div align="center" class="msg"></div>
    <div align="center">
        <a th:href="${returnUrl}">查看订单详情</a>
    </div>
    <div align="center" class="alert-msg">如对订单有疑问，请联系客服核实</div>
</div>-->
<script th:inline="javascript">
    /*var t = 0;
    var inter = setInterval("payding()", 1000);
    function payding() {
        console.log(t)
        if (t >= 4) {
            $("#point").html("");
            t = 0;
        } else {
            t++;
            $("#point").append(".");
        }
    }*/

    var partnerTradeNo = [[${partnerTradeNo}]];//商户订单号/支付流水号

    //查询最终交易结果
    var t = 10;
    var inter = setInterval("queryPayResult()", 2000);

    function queryPayResult() {
        if (t < 0) {
            var obj = $("#outTime");
            setCommon(obj);
            return;
        }
        t--;
        $.ajax({
            // url: "test/ajaxPayResultTest",
            url: "pay/ajaxPayResult",
            type: 'POST',
            data: {
                "partnerTradeNo": partnerTradeNo
            },// 要提交的表单 ,
            async: false,
            cache: false,
            dataType: "json",
            success: function (data) {
                console.log("---:" + data);
                //状态 0 等待操作 1成功 2 失败  3异常
                if (data == 1) {
                    var obj = $("#success");
                    setCommon(obj);
                } else if (data == 2) {
                    var obj = $("#fail");
                    setCommon(obj);
                }
            }
        });
    }

    function setCommon(obj) {
        clearInterval(inter);
        $("#payding").hide();
        obj.show();
        $("#commonDiv").show();
    }

</script>
</html>
